---
import { kajians } from "src/data/kajianData";
import { formatDate, formatDateTime, formatTime } from "@utils/dateUtils";
---

<div class="grid grid-cols-1 max-w-6xl md:grid-cols-2 lg:grid-cols-3 gap-4">
  {
    kajians.map((kajian) => (
      <article class="relative overflow-hidden rounded-lg shadow transition hover:shadow-lg">
        <img
          src={
            kajian.gambarKajian ||
            "https://pbs.twimg.com/media/GBRTGrpaAAAgmD2?format=jpg&name=large"
          }
          alt={`Poster Kajian ${kajian.judul}`}
          class="absolute inset-0 h-full w-full object-cover"
        />

        <div class="relative bg-gradient-to-t h-full from-gray-900/50 to-gray-900/25 pt-32 sm:pt-48 lg:pt-64">
          <div class="p-4 sm:p-6">
            <label class="flex-inline">
              <div class="i-fluent-emoji-sun w-5 h-5 text-black" />
              <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-600 bg-blue-200 last:mr-0 mr-1">
                {kajian.jenisKajian}
              </span>

              {kajian.kategoriIlmu.map((kategori) => (
                <label class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-600 bg-blue-200 last:mr-0 mr-1">
                  #{kategori}
                </label>
              ))}
            </label>

            <a
              href={`/${kajian.slug}`}
              hx-get={`/${kajian.slug}`}
              hx-target="#tempat"
              hx-swap="innerHTML"
              hx-push-url={`/${kajian.slug}`}
              class="decoration-none"
            >
              <h3 class="mt-0.5 text-4xl text-white">{kajian.judul}</h3>
            </a>

            <div class="i-fluent-emoji-mosque h-5 w-5" />
            <div class="text-sm">
              <p class="m-0 p-0 text-gray-100">{kajian.tempat}</p>

              <p class="m-0 p-0 text-gray-200">
                {kajian.alamat.kabupaten} , {kajian.alamat.provinsi}
              </p>
            </div>
            <slot name="time" />

            <time
              class="block text-xs text-white"
              datetime={formatDateTime(kajian.hariJadwal)}
            >
              <span class="text-white">{formatDate(kajian.hariJadwal)}</span>
              <span class="text-white">@ {formatTime(kajian.hariJadwal)}</span>
            </time>
          </div>
        </div>
      </article>
    ))
  }
</div>
