---
const { kajian } = Astro.props;
import SaveEvent from "@components/SaveEvent.svelte";
import { formatStartDateTime } from "@utils/dateUtils";
import Terdekat from "@components/Nano/Terdekat.astro";

const startDate = formatStartDateTime(kajian.hariJadwal);

let event = {
    title: kajian.judul,
    description: kajian.deskrips,
    location: kajian.tempat,
    startTime: startDate, // Contoh waktu dalam format ISO 8601
};
let pemateri = {
    nama: kajian.pemateri.nama,
    foto: kajian.pemateri.foto, // URL ke foto ustadz/pematerii, opsional
    kontak: kajian.pemateri.kontak, // Kontak ustadz/pematerii, bisa berupa nomor telepon atau email
};
import Share from "./Nano/Share.astro";
import Contact from "./Nano/Contact.astro";
import Person from "./Nano/Person.astro";
import Place from "./Nano/Place.astro";
import Times from "./Nano/Times.astro";
---

<div class="flex flex-col gap-4 w-full pb-6">
    <section class="flex p-5 mx-auto w-fit gap-4">
        {
            (
                <>
                    <main class="relative flex flex-col flex-1 px-4">
                        <h1 class="my-6 font-bold break-words text-4xl">
                            {kajian.judul}
                        </h1>
                        <div class="mb-6 text-theme-label-secondary multi-truncate border-l border-theme-status-cabbage pl-4">
                            <div class="border-none p-5 border-r-none border-t-none border-b-none border-l-yellow border-solid">
                                <span class="font-bold text-blue">Catatan</span>{" "}
                                {kajian.deskripsi}
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-2 mb-6">
                            {kajian.kategoriIlmu.map((kategori) => (
                                <a
                                    href={`/search/search?kategoriIlmu=${kategori}`}
                                    hx-get={`/search/search?kategoriIlmu=${kategori}`}
                                    hx-target="#tempat"
                                    hx-swap="innerHTML"
                                    hx-push-url={`/search/search?kategoriIlmu=${kategori}`}
                                    class="text-xs font-semibold inline-block decoration-none py-1 px-2 uppercase rounded-full text-gray-800 bg-blue-200 last:mr-0 mr-1"
                                >
                                    #{kategori}
                                </a>
                            ))}
                            <a
                                href={`/search/search?jenisKajian=${kajian.jenisKajian}`}
                                hx-get={`/search/search?jenisKajian=${kajian.jenisKajian}`}
                                hx-target="#tempat"
                                hx-swap="innerHTML"
                                hx-push-url={`/search/search?jenisKajian=${kajian.jenisKajian}`}
                                class="text-xs font-semibold inline-block decoration-none py-1 px-2 uppercase rounded-full text-gray-800 bg-blue-200 last:mr-0 mr-1"
                            >
                                #{kajian.jenisKajian}
                            </a>
                        </div>
                        <a
                            href=""
                            title="Go to post"
                            target="_blank"
                            rel="noopener"
                            class="block overflow-hidden max-w-4xl mb-10 rounded-2xl cursor-pointer"
                        >
                            <div class="relative overflow-hidden">
                                <>
                                    <div style="padding-top: 49%; z-index: -1;" />
                                    <img
                                        src={
                                            "https://pbs.twimg.com/media/GBRTGrpaAAAgmD2?format=jpg&name=large"
                                        }
                                        class="absolute block inset-0 w-full h-full m-auto object-cover"
                                        alt="Post cover image"
                                    />
                                </>
                            </div>
                        </a>
                        <Terdekat lokasi={kajian.alamat?.kabupaten} />
                    </main>
                    <aside class="pb-8 md:w-[18.75rem] md:max-w-[18.75rem] lg:w-[21.25rem] lg:max-w-[21.25rem] flex flex-col gap-6 px-4 w-full max-w-full">
                        <Share />
                        <Person {pemateri} />
                        <Times hariJadwal={kajian.hariJadwal}>
                            <SaveEvent
                                client:visible
                                slot="saveEvent"
                                {event}
                            />
                        </Times>
                        <Place gmapLink={kajian.linkGoogleMaps} tempat={kajian.tempat} {...kajian.alamat} />

                        <Contact {...kajian.contactPerson} />
                    </aside>
                </>
            )
        }
    </section>
</div>
